USE [master]
GO
/****** Object:  Database [Database1]    Script Date: 12/22/2016 9:48:57 AM ******/
CREATE DATABASE [Database1] ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Test.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Test_log.ldf' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Database1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Database1]
GO
/****** Object:  User [BULAGA-PC\Bulaga]    Script Date: 12/22/2016 9:48:57 AM ******/
CREATE USER [BULAGA-PC\Bulaga] FOR LOGIN [BULAGA-PC\Bulaga] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [BULAGA-PC\Bulaga]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 12/22/2016 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table1](
	[Field1] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Field2] [nvarchar](50) NULL,
	[Field3] [numeric](18, 0) NULL,
	[Field4] [date] NULL,
	[Field5] [image] NULL,
	[Field6] [varbinary](max) NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[Field1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
